# Ignore build artifacts from the local tests sub-crate.
target/
debug/
# Ignore artifacts files
artifacts/


# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Dependency directory
node_modules

# macOS
.DS_Store
.yarn

.idea

*.log
package-lock.json
